.grid-row-item {
  padding: 0.5rem;
  font-size: 0.8rem;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  word-break: break-all;

  &.border-right {
    border-right: 1px solid var(--border);
  }

  .grid_body__over-target {
    text-decoration: underline;
    cursor: pointer;
  }
}

.number-item {
  &__svg {
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.contacts {
  font-weight: 700;
  font-size: 13px;
}

.contacts__list {
  font-weight: 700;
  font-size: 13px;
  color: var(--mantine-color-blue-filled);
}

.sale-color {
  background-color: #e4f2fd;
}
