:root {
  --text: #465565;
  --bg: #d4d9dd;
  --bg-hover: #e7f0fb;
  --border: #809bc0;
}

* {
  font-family: 'PT Sans'; 
  font-weight: normal; 
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header .mantine-Modal-title {
  font-weight: 700;
  font-size: 1.2rem;
}

html, body, #root {
  height: 100%;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1rem;
}