:root {
  --text: #465565;
  --bg: #d4d9dd;
  --bg-hover: #e7f0fb;
  --bg-white: #fff;
  --border: #809bc0;
  --bg-dis: #efefef;
  --green: #12b886;
  --red: #fa5252;
  --red-light: #ffc7c7;
  --warning: #fd7e14;
  --primary: #228be6;
}

* {
  font-family: 'PT Sans'; 
  font-weight: normal; 
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header .mantine-Modal-title {
  font-weight: 700;
  font-size: 1.2rem;
}

html, body, #root {
  height: 100%;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1rem;
}