.currency {
  padding: 0.4rem;

  &__row {
    display: flex;
    gap: 0.4rem;
    align-items: flex-end;
    width: 100%;

    &-val {
      width: 40px;
      display: flex;
      align-items: center;
      height: 36px;
      justify-content: center;
    }
  }

  label {
    font-size: 12px;
  }
}