.expenses {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: fit-content;
  margin-bottom: 1rem;

  &__add-button {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  p {
    color: var(--text);
    font-size: 0.9rem;
  }

  button {
    background-color: var(--bg);
    border: none;
    outline: none;
    color: var(--text);
    font-size: 0.8rem;
    border-radius: 0.2rem;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    font-weight: 700;
    cursor: pointer;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-buttons {
      display: flex;
      gap: 0.5rem;
    }
  }

  &__item {
    display: flex;
    border-bottom: 1px solid var(--border);
    width: 100%;

    &-name {
      min-width: 180px;
      max-width: 180px;
      font-size: 0.9rem;
      color: var(--text);
    }

    &-price {
      min-width: 120px;
      max-width: 120px;
      font-size: 0.9rem;
      color: var(--text);
    }

    &-action {
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      
        path {
          fill: var(--text);
        }
      }

      &-remove {
        cursor: pointer;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}